.app-footer{
  width: 100%;
  height: $h-f-height;
  background-color: $h-f-backgraound;
  display: flex;
  justify-content: flex-end;
  button{
    width: 4%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #1f2637;
    border: none;
  }
}

